:global {
    .gant-grid-cell-editing {
        margin-top: -1px;
        >.gant-input-wrapper {
            display: block;
        }
        .gant-input .gant-input-group.ant-input-group {
            .gant-input-group-inner {
                &>* {
                    border-radius: 0px;
                }
            }
        }
    }
    .gant-grid-cell-content {
        font-size: 14px;
        &-small {
            font-size: 12px;
        }
    }
    .gant-grid-cell {
        &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-width: 4px;
            border-style: solid;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        &-modify {
            &::after {
                border-color: #ff4d4f transparent transparent #ff4d4f;
            }
        }
        &-add {
            &::after {
                border-color: #52c41a transparent transparent #52c41a;
            }
        }
        &-delete {
            &::after {
                border-color: #faad14 transparent transparent #faad14;
            }
        }
    }
}