.gant-grid-form-wrapper {
  position: relative;
  height: calc(100%);
  background-color: #fff;
  border: 1px solid var(--ag-border-color, #bdc3c7);
  border-left: none;
  overflow: hidden;
  .gant-grid-form-cursor {
    width: 6px;
    height: 100%;
    position: absolute;
    left: -1px;
    cursor: ew-resize;
    z-index: 2;
  }
}
.gant-grid-form {
  height: calc(100% - 24px);
  overflow: auto;
  // .ant-col{
  //   border-bottom:1px solid rgba(128,128,128,0.2);
  // }
}
.gant-grid-form-header {
  padding: 5px 5px;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
  font-size: 14px;
  display: flex;
  background-color: var(--ag-header-background-color, #f5f7f7);
  border-bottom: 1px solid var(--ag-border-color, #bdc3c7);
}
