:global {
    .gant-grid {
        .ag-header-cell.gant-padding-h-3 {
            padding: 0px 3px;
        }
        .ag-center-cols-container .ag-cell.ag-cell-inline-editing,
        .ag-cell {
            height: 31px;
            border: none;
            line-height: 32px;
            .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value) {
                height: 31px;
            }
        }
        &-sm {
            .ag-center-cols-container .ag-cell.ag-cell-inline-editing,
            .ag-cell {
                height: 23px;
                line-height: 24px!important;
                .ag-cell-wrapper>*:not(.ag-cell-value):not(.ag-group-value) {
                    height: 24px;
                }
            }
        }
        .gant-grid-pagination.mini {
            padding: 3px 5px;
            .ant-pagination-options {
                line-height: 24px;
            }
        }
    }
}