:global {
    .ag-theme-balham .ag-cell{
        line-height: 22px;
    }
    .ag-theme-balham .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value){
        line-height: 22px;
    }
    .gant-grid {
        .gant-padding-h-3 {
            padding: 0px 4px;
            .ag-header-select-all {
                display: flex !important;
            }
            padding: 0px 4px !important;
        }
        .ag-cell.ag-cell-inline-editing {
            height: 32px;
            border: none;
            line-height: 32px;
        }
        &-sm {
            .ag-cell.ag-cell-inline-editing {
                height: 24px;
                line-height: 24px;
            }
        }
        .gant-grid-pagination.mini {
            padding: 3px 5px;
            .ant-pagination-options {
                line-height: 24px;
            }
        }
    }
}