@import '../../style/index.less';
@gant-select: ~'@{gant-prefix}-calendar';

.@{gant-select}-picker {
  //   .display-table-cell();
  vertical-align: middle;
  width: 100%;
  &:not(:last-child) {
    .ant-calendar-picker-input {
      .input-group-left();
    }
  }
}
.gant-calendar {
  .ant-calendar-active-week {
    background-color: transparent !important;
  }
  .ant-calendar-body tr:hover {
    background-color: transparent !important;
  }
  .ant-calendar-body tr.ant-calendar-active-week {
    font-weight: normal !important;
    background-color: transparent !important;
  }
  .ant-calendar-selected-date .ant-calendar-selected-day {
    font-weight: bold;
    background: #bae7ff;
  }
  // .ant-calendar-selected-day .ant-calendar-date {
  //   background: #bae7ff !important;
  // }
  // .ant-calendar-tbody {
  //   tr:first-child {
  //     .ant-calendar-week-number-cell {
  //       position: relative;
  //       &:after {
  //         content: '周';
  //         position: absolute;
  //         top: -25px;
  //         left: 10px;
  //       }
  //     }
  //   }
  // }
}
