//datafrom
.dataform {
  .ant-form-item-control-wrapper {
    width: calc(100% - 120px) !important;
  }

  .ant-form-item-label-left {
    width: 120px !important;
  }

  .ant-form-item-label>label {
    color: rgba(125, 125, 125, 0.65) !important;
    width: 100%;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ant-form-item {
    color: rgba(125, 125, 125, 0.9) !important;
  }

  &.readform {
    .has-error .ant-form-explain {
      display: none;
    }
  }
}