//定制antd
:global {

  

  .ant-tabs-tab {
    padding: 9px !important;
  }

  .ant-tabs-top-bar {
    margin: 0 0 5px 0 !important;
  }

  .ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
    font-size: 14px !important;
  }

  .ant-select {
    font-size: 12px !important;
  }

  .ant-select-dropdown {
    font-size: 12px !important;
  }

  .ant-tooltip-inner {
    min-height: 20px !important;
  }

  .ant-popover-inner-content {
    padding: 10px !important;
  }

  .ant-tooltip {
    font-size: 12px !important;
    line-height: 1 !important;
  }

  .ant-page-header-title-view-extra {
    right: 0px !important;
  }

  .ant-tree {
    .ant-tree-treenode-switcher-open,
    .ant-tree-treenode-switcher-close {
      li {
        padding: 0;
      }
    }

    li {
      .ant-tree-node-content-wrapper {
        padding: 0 !important;

        .ant-tree-iconEle {
          width: auto;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .ant-drawer-header {
    padding: 9px 10px !important;
  }

  .ant-drawer-close {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }


}