@import '../../gantd/src/style/theme/index.less';
@profilecard-prefix-cls: ~'@{gant-prefix}-modal';

@activeIconColor: var(--modal-header-icon-hover-color);

.@{profilecard-prefix-cls} {

    &-resizableModalDefault {
        pointer-events: none;
    }

    &-resizableModalDialog {
        pointer-events: auto;
    }

    &-resizableModalWrapper {
        overflow: hidden !important;

        .ant-modal {
            display: flex;
            max-width: none;
            // transform-origin: 50% 50% !important;
        }

        .ant-modal-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .ant-modal-close {
                transition: none;
            }

            .ant-modal-close-x {
                &:hover {
                    background-color: var(--modal-header-danger-icon-bg);

                    i {
                        color: @activeIconColor;
                    }
                }

                &:active {
                    background-color: var(--modal-highlight-color);

                    i {
                        color: @activeIconColor;
                    }
                }
            }
        }

        .ant-modal-body {
            flex: 1;
            overflow-y: auto;
        }

        .@{profilecard-prefix-cls}-resizableModalTitle {
            cursor: move;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .@{profilecard-prefix-cls}-resizableModalContent {
            height: 100%;
        }

        .@{profilecard-prefix-cls}-maximizeAnchor {
            right: 40px;
            width: 40px;
            top: 0;
            cursor: pointer;
            height: 40px;
            position: absolute;

            i {
                font-size: 16px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: var(--modal-header-color);
            }

            &:hover {
                background-color: var(--modal-header-default-icon-bg);

                i {
                    color: @activeIconColor;
                }
            }
        }

        .@{profilecard-prefix-cls}-resizeAnchor {
            right: -10px;
            width: 30px;
            bottom: -10px;
            cursor: se-resize;
            height: 30px;
            position: absolute;

            i {
                opacity: 0;
                visibility: hidden;
                width: 12px;
                right: 14px;
                border: 2px solid transparent;
                height: 12px;
                bottom: 14px;
                position: absolute;
                border-top: 0;
                border-left: 0;
                transition: all .3s;
            }

            &:hover {
                i {
                    opacity: 1;
                    visibility: visible;
                    border-color: var(--modal-footer-reset-color);
                    transition: all .3s;
                }
            }
        }
    }

    &-maximize {
        .ant-modal-content {
            border-radius: 0;
        }
    }

    &-defaultFooterContent {
        display: flex;
        justify-content: space-between;
    }
}