@import '../style/index.less';

@gant-select: ~'gant-select';

:global {
    .gant-input .gant-input-group {
        .@{gant-select}-email.ant-select {
            width: 100%;

            &:not(:last-child) {
                .ant-select-selection[role='combobox'] {
                    .ant-input {
                        .input-group-left();
                        height: 32.5px;
                    }
                }
            }

            .ant-input {
                float: none !important;
            }
        }
    }
}