.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  height: '100%';
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
