@gant-prefix: gant;
@component: ~'@{gant-prefix}-auto-reload';
@build:#000;

:root {
  --btn-default-color: rgba(0, 0, 0, 0.5);
  --btn-default-border-color: rgba(0, 0, 0, 0.2);
  --primary-color: #1890FF;
}

:global{
  .@{component} {
    &-container {
      padding: 0 5px !important;
      border-color: var(--btn-default-border-color) !important;
      box-shadow: none !important;
      line-height: 22px;
      overflow: hidden;

      &:hover {
        background-color: transparent !important;
        color: var(--btn-default-color) !important;
      }
    }

    &-toolTipContainer {
      p {
        margin-bottom: 0px;
        line-height: 20px;
      }
    }

    &-autoSwitch {
      vertical-align: -2px !important;
    }

    &-toolTipTime {
      display: inline-block;
      line-height: 22px;
      height: 22px !important;

      &:hover {
        color: var(--primary-color)
      }
    }

    &-autoTimeInput {
      border: none !important;
      border-radius: 0px !important;
      padding: 0px !important;
      line-height: 22px !important;
      height: 22px !important;
      vertical-align: 0px;
      width: 44px !important;
      box-shadow: none !important;

      .ant-input-number-input {
        padding: 0px;
        padding-right: 22px;
      }

      .ant-input-number-handler-wrap {
        opacity: 1;
      }

    }

  }
}